body{
  background-color: #CBC3E3;
  text-align:center;
  margin: auto
}

h1{
  color: #0D0C0C;
  font-size: 50px
}

h2{
  color: #0D0C0C;
  font-size: 30px
}

h3{
  color: #0D0C0C;
  font-size: 20px
}

h4{
  color: #000000
}

p{
  color: #FFFFFF
}

.chart{
  position: static
}

container {
  align-content: center;
  justify-content: center;
  display: flex;
  border: 5px solid #228B22;
  border-top: none;
  border-left: none;
  border-right: none;
}

.imagechart{
  position: static
}
  
  




   
  
